<!DOCTYPE html>
<html lang="en">
<style>
    h2 {
        font-family: Bell MT, sans-serif;
    }

    body {
        font-family: Century;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Dataset Downloads</title>

    <h2>Parking Lot Datasets (Download Page)</h2>

    <!-- <object src="jsonContainer.json"></object> -->

</head>

<body>

    <a href="static\data\jsonContainer.json" download="C:\Users\Orion\Github\parkingLot\data\jsonContainer.json">
        <p>Dataset of Parking Lot A</p>
    </a>

    <a href="static\data\jsonContainer1.json" download="C:\Users\Orion\Github\parkingLot\data\jsonContainer1.json">
        <p>Dataset of Parking Lot B</p>
    </a>

    <a href="static\data\jsonContainer2.json" download="C:\Users\Orion\Github\parkingLot\data\jsonContainer2.json">
        <p>Dataset of Parking Lot C</p>
    </a>

</body>

</html>